<!-- <app-navbar></app-navbar> -->

  <div class="row" style="text-align: left">
    <div class="col" id="col1">
      <h1 style=" font-size: 80px">
        Creation of Pitch Deck For new ventures and bussines.
      </h1>
      <p style="font-size: 23px">
        Explore more about this in details click the button below.
      </p>
      <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
        Explore More
      </button>
    </div>
    <div class="col">
      <img src="./assets/1.jpg" height="100%"  width="80%" />
    </div>
  </div>

  <br>

  <div class="row bor" style="text-align: left ; margin-top: 4%;">
  <div class="col" id = "col2">
    <h4>Trusted by Clients Worldwide</h4>
    <br>
    <h2 style=" font-size: 80px">Join the Global Leaders Working with Us</h2>
  </div>
  <div class="col" id = "example">
    <img src="./assets/2.jpg" height="300px"  width="400px" />
  </div>
  </div>

  <div class="row pt-5" style="background-color: var(--background-secondry);">
    <div class="col-5">
      <span>What we do</span>
      <br>
      <h2>We are the one-stop solution for all your needs.</h2>
      <p>We are building a complete ecosystem for you to startup. We will cover your end-to-end journey at one-place, enabling a hassle-free and de-risked journey to startup up.</p>
      <br>
      <p>Currently, we can help you build a pitch deck, get fundraising guidance, Legal & Compliance Support, Strategy Consulting, Tech Support (App & Web Development), Digital Marketing (SEO, SEM, SMM, PR, etc.), GTM strategies, etc.</p>
      <br>
      <p>Our Product is under-development. Join the waitlist for special product discount.</p>
      <br>
      <button type="button" class="btn" id="rectangle_btn">Learn More</button>
      <br><br>
      <br><br>
    </div>
    <div class="col"> ................</div>
  </div>

  <div class="row ms-3">
    <div class="col-4 mt-5">

      <h3> Keep your data safe while your team works remotely</h3><br>
      <p>This is a space to share more about the business: who's behind it, what it does and what this site has to offer. It’s an opportunity to tell the story behind the business or describe a special service or product it offers. You can use this section to share the company history or highlight a particular feature that sets it apart from competitors.</p>
      <br>
      <p>Let the writing speak for itself. Keep a consistent tone and voice throughout the website to stay true to the brand image and give visitors a taste of the company’s values and personality.</p>
      <br><br>
      <h3>Reclaim more than 70% of time & resources spent on patching</h3><br>
      <p>This is a space to share more about the business: who's behind it, what it does and what this site has to offer. It’s an opportunity to tell the story behind the business or describe a special service or product it offers. You can use this section to share the company history or highlight a particular feature that sets it apart from competitors.</p>
      <br>
      <p>Let the writing speak for itself. Keep a consistent tone and voice throughout the website to stay true to the brand image and give visitors a taste of the company’s values and personality.</p>
      <br><br>
      <h3>Manage your pipeline continuously with full governance</h3><br>
      <p>This is a space to share more about the business: who's behind it, what it does and what this site has to offer. It’s an opportunity to tell the story behind the business or describe a special service or product it offers. You can use this section to share the company history or highlight a particular feature that sets it apart from competitors.</p>
      <br>
      <p>Let the writing speak for itself. Keep a consistent tone and voice throughout the website to stay true to the brand image and give visitors a taste of the company’s values and personality.</p>
      <br><br>
      <hr class="solid"/>
      <br><br>
      <button type="button" class="btn" id="rectangle_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Learn More</button>
      <!-- <button type="button" class="btn" id="rectangle_btn">Learn More</button> -->
      <br><br><br>
    </div>
    <div class="col" style="background-color: #7560e7; margin-left: 10%;"><img src="./assets/hand.jpg" height="40%"  width="80%" /></div>
  </div>









