.navbar{
  background-color:#013d46;
  font-size: 25px;
  color: white;
}
.navbar-brand{
  font-size: 35px;
  color:white;
  float: left;
}

.topnav a{
  color: white;
}

.nav-item a:active{
  color: #b5e64b;
}

.navbar-nav .nav-link.active{
  color: #b5e64b;
}

.nav-item{
  margin: 10px;

}

button{
  height: 15%;
  width: 40%;
  color: black;
  background-color: #beef4a;
  outline-color: #beef4a;
}
button:hover{
  outline: auto;
  outline-width: 4px;
  outline-color: #beef4a;
  background: transparent;
}

/* .navbar-nav{
--bs-nav-link-color: white;
--bs-nav-link-hover-color: white;
--bs-nav-link-disabled-color: white;
} */
