.navbar{
  background-color:var(--background-primary);
  font-size: 25px;
  color: white;
}
.navbar-brand{
  font-size: 35px;
  color:white;
  float: left;
}

.topnav a{
  color: white;
}

.nav-item a:active{
  color: #b5e64b;
}

.navbar-nav .nav-link.active{
  color: #b5e64b;
}

.nav-item{
  margin: 10px;

}


button{
  height: 15%;
  width: 40%;
  color: black;
  background-color: #beef4a;
  outline-color: #beef4a;
}


.form-title{
  color: var(--background-primary);
  font-size: 40px;
  text-align: center;
}
.form-label{
  color: var(--background-primary);
}

.modal-content{
  background-color: var(--background-teritory);
}

.btn-close{
  height: 20px;
  width: 10px;
  /* background-color: red; */
}

.btn-close:hover{
  outline: auto;
  outline-width: 4px;
  outline-color: red;
  background: red;
}

#rectangle_btn{
  /* margin-left: 15%; */
  height: 60px;
  width: 40%;
  color: var(--background-teritory);
  background-color: var(--background-primary);
  border: 2px solid var(--background-teritory);
}

#rectangle_btn:hover{
  background: transparent;
  outline: auto;
  outline-color: var(--background-primary);
  outline-width: 2px;
  color: var(--background-primary);
}

/* .navbar-nav{
--bs-nav-link-color: white;
--bs-nav-link-hover-color: white;
--bs-nav-link-disabled-color: white;
} */
