<app-navbar></app-navbar>

<div>
  <div class="row" style="text-align: left">
    <div class="col" id="col1">
      <h1 style="color: #bfef4b; font-size: 80px">
        Creation of Pitch Deck For new ventures and bussines.
      </h1>
      <p style="font-size: 23px">
        Explore more about this in details click the button below.
      </p>
      <button type="button" class="btn btn-outline-primary">
        Explore More
      </button>
    </div>
    <div class="col">
      <img src="./assets/1.jpg" height="100%"  width="80%" />
    </div>
  </div>

  <br>

  <div class="row" style="text-align: left ; margin-top: 4%;">
  <div class="col" id = "col2">
    <h4>Trusted by Clients Worldwide</h4>
    <h1>Join the Global Leaders Working with Us</h1>
  </div>
  <div class="col" id = "example">
    <img src="./assets/2.jpg" height="300px"  width="400px" />
  </div>

  </div>

</div>

