<app-navbar></app-navbar>

<div>
  <div class="row" style="text-align: left">
    <div class="col" id="col1">
      <h1 style=" font-size: 80px">
        Creation of Pitch Deck For new ventures and bussines.
      </h1>
      <p style="font-size: 23px">
        Explore more about this in details click the button below.
      </p>
      <button type="button" class="btn ">
        Explore More
      </button>
    </div>
    <div class="col">
      <img src="./assets/1.jpg" height="100%"  width="80%" />
    </div>
  </div>

  <br>

  <div class="row bor" style="text-align: left ; margin-top: 4%;">
  <div class="col" id = "col2">
    <h4>Trusted by Clients Worldwide</h4>
    <br>
    <h2 style=" font-size: 80px">Join the Global Leaders Working with Us</h2>
  </div>
  <div class="col" id = "example">
    <img src="./assets/2.jpg" height="300px"  width="400px" />
  </div>
  </div>

<div class="row " style="text-align: left ; margin-top: 4%;">
  <div class ="col">
    <img src="./assets/logo.png" width="60" height="50" />
    Pitch Deck
  </div>
  <div class="col">
    <h3>Menu</h3>
    <p>Product</p>
    <p>Company</p>
  </div>
  <div class="col">
    <h3>Contact Us</h3>
    <p>Info@mysite.com</p>
    <p> Tel: 123-456-7890</p>
    <p>500 Terry Francine St. SF,
    CA 94158 </p>
  </div>

  <div class="col" style="margin-left: 100px;">
    <h3>Follow</h3>
    <p>Facebook</p>
    <p>LinkedIN</p>
    <p>Instagram</p>
  </div>

  <div class="col">
    <button type="button" class="btn" style="height:60px; width:190px">
      Try us For free
    </button>
  </div>
</div>

</div>

