div{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
  margin: 2px;
  color: white;
  /* border-style: dotted; */
}

h1,h2,h3{
  color: #b5e64b;
}

button{
  height: 15%;
  width: 40%;
  color: black;
  background-color: #beef4a;
  outline-color: #beef4a;
}
button:hover{
  outline: auto;
  outline-width: 4px;
  outline-color: #beef4a;
  background: transparent;
}



#col1,#col2{
  float: left;
  width: 20%;
  padding: 40px;
}

.bor{
  border-top: 1px solid rgb(83, 255, 57);
  border-bottom: 1px solid rgb(83, 255, 57);
}

#example{
  border-left: 1px solid rgb(83, 255, 57);
  padding: 60px;
  padding-top: 80px;
}


hr{
  color:rgb(254, 254, 254);
  width:100%;
  size:10px;
}

img{
  margin-left: 10% ;
}

.new{
  padding-top: 80px;
    padding-right: 0%;
    padding-left: 9%;
    padding-bottom: 80px;
}
