<!-- <app-navbar></app-navbar> -->
<br>
<!-- <div class="container"> -->
<!-- <div class="container"> -->
  <div class="row bor">
      <div class="col-6">
        <h4>we're Codyx</h4>
        <h1>We're on a Mission to Protect Your Business</h1>
      </div>
      <div class="col">
      </div>
  </div>
  <div class="second">
  <div class="row pt-5 bor">
    <div class="col-4">
      <h1>Our Story</h1><br>
      <p>This is the space to introduce the Project section. Take this opportunity to give site visitors a brief overview of the types of projects they'll find featured in the showcase below. Consider adding an engaging image or video to catch their attention and present the featured projects in an attractive light.</p>
      <br><p>Describe what makes these projects interesting, important or special. To encourage users to explore the featured projects in more detail, give people a basic idea of what they can expect to discover. Let them know if the business has produced more projects than the selected works on this site, and tell readers how they can learn more about them.
      </p>
      <br><br>
      <button type="button" class="btn" style="height:60px; width:190px" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Try us For free
      </button>
    </div>
    <div class="col">
      <img src="./assets/wall.jpg" height="70%"  width="50%" />
    </div>
  </div>
  </div>
  <div class="row bor">
    <div class="row">
    <div class="col" style="text-align: center;">
      <h2>Codyx in Numbers</h2><br>
      </div>
      <div class="row">
      <div class="col" style="text-align: center;">
      <h1>150</h1>
      <span> Employees</span></div>
        <div class="col" style="text-align: center;">
        <h1>1000</h1>
        <span>Satisfied customers</span>
      </div>
        <div class="col" style="text-align: center;">
        <h1>50</h1>
        <span>Platforms supported</span>
      </div></div>
    </div>
  </div>
<!-- </div> -->
  <div class="row bor">
    <div class="col">
      <h2>Get Started With Pitch Deck</h2>
      <h3>Build Anything And Achive Sucess</h3>
    </div>
    <div class="col" id="formcol" >
      <br><br>
      <div class="form-title">Try Us For Free</div>
      <form class="row g-3">
        <div class="col-md-5">
          <label for="inputfirstname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="inputlastname">
        </div>
        <div class="col-md-5">
          <label for="inputlastname" class="form-label">Last Name</label>
          <input type="password" class="form-control" id="inputlastname">
        </div>
        <div class="col-10">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-5">
          <label for="inputcompany" class="form-label">Company</label>
          <input type="text" class="form-control" id="inputcompany" placeholder="">
        </div>
        <div class="col-md-5">
          <label for="inputposition" class="form-label">Position</label>
          <input type="text" class="form-control" id="inputposition">
        </div>
        <div class="col-12">
          <button type="submit" class="btn" id="rectangle_btn">Get Started</button>
        </div>
      </form>


    </div>
  </div>



