/* You can add global styles to this file, and also import other style files */
:root{
--background-primary: #01272d;
--background-secondry : #013d46;
--background-teritory : #b5e64b;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  button:hover{
    outline: auto;
    outline-width: 2px;
    outline-color: #beef4a;
    background: transparent;
  }
}

body {background-color: var(--background-primary);
margin: 0px;
padding: 0px;}


/* common style */
h1,h2,h3{
  color: #b5e64b;

}

div{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
  margin: 2px;
  color: white;
  /* border-style: dotted; */
}




